@import 'reboot'; @import 'verdin';

/**
 * Colors
 */

$text-color-normal: #949EA7;
$text-color-light: #4B5966;
$text-color-richer: #93B7DB;
$text-color-highlight: #C36522;
$link-color: #6DB2F7; 
$panel-color: #242C34;
$accent-color: #FFA565;
$error-color: #F03232;
$button-background: #286DB2;
$button-text-color: black;
$color_background: #181E24;

/**
 * Shadows
 */

$shadow_basic: 0 2px 4px rgba(0,0,0,.1);
$shadow_3d: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
$shadow_3d_short: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2);
$shadow_top: 	inset  0  15px 15px -15px rgba(0,0,0,0.25);
$shadow_bottom: inset  0  -15px 15px -15px rgba(0,0,0,0.25);
$shadow_left: 	inset 15px 0px 15px -15px rgba(0,0,0,0.25);
$shadow_right: 	inset -15px 0px 15px -15px rgba(0,0,0,0.25);

body {
	font-family: 'Montserrat', 'Open Sans', Roboto, sans-serif;
	color: $text-color-normal;
	background: $color_background;
}

a {color: $link-color;}

h1,h2,h3,.h1,.h2,.h3 {font-weight: 900;color: $text-color-light;}
h4,h5,h6,.h4,.h5,.h6 {font-weight: 800;color: $text-color-light;}
.color-richer {color: $text-color-richer;}

/**
 * Statistics
 */

.stats-box-wrapper {
	display:flex;flex-wrap:wrap;
	.stats-box {
		flex-basis: calc(14.14% - .5rem);
		background: $panel-color;
		margin:.25rem; padding: 1rem 1.375rem;
		box-shadow: $shadow_basic;
	}
	span.flag img {height: auto;width:2rem;}
	.stats-box.first  { flex-basis: calc(25% - .5rem); }
	.stats-box.second { flex-basis: calc(75% - .5rem); }
}

ul.table {
	li span {border-color: $text-color-light;}
} 

@media(max-width: 990px) {
	.stats-box-wrapper .stats-box {flex-basis:100%;}
}