@import 'reboot'; @import 'verdin';

/**
 * Colors
 */

$color_text: 		#333;
$color_background:  #f7f7f7;
$color_red:  		#DC3546;

body {
	font-family: 'Montserrat', 'Open Sans', Roboto, sans-serif;
	color: $color_text;
	background: $color_background;
}

a {color: $color_red;}

h1,h2,h3,.h1,.h2,.h3 {font-weight: 900;}
h4,h5,h6,.h4,.h5,.h6 {font-weight: 800;}